<body>
  <ion-header>
    <ion-toolbar>
      <ion-title>DETALHES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img class="img_detalhes" src="{{this.img}}"></ion-img>
          <div class="titulo">{{this.title}}</div>
          <div class="sub_titulo">
            <div class="duracao">Duração: {{this.duration}}</div>
            <div class="genero">Genero: {{this.generate}}</div>
          </div>        
          <div class="descricao">Descrição: {{this.information}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</body>
