<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: black" text-align="center">
      <img src="assets/netflix1.PNG" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col (click)="carregarFilmes(destaque.id)" size="12">
        <ion-img src="{{ destaque.photo_link }}"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        *ngFor="let filme of filmes ; let i = index;"
        (click)="carregarFilmes(filme.id)"
        size-xs="6"
        size-md="3"
      >
        <ion-img src="{{ filme.photo_link }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
